.formContainer {
  width: 100%;
  max-width: 600px;
  padding: calc(2 * var(--padding-xl));
  background-color: var(--bg-white-color);
  border-radius: var(--radius-lg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 0px 5px;
}

.title {
  font-weight: bold;
  color: var(--text-theme-color);
  font-size: var(--font-size-h4);
}

.form {
  display: flex;
  gap: var(--gap-xl);
  flex-direction: column;
}

.submitBtn {
  width: 100%;
  border-radius: var(--radius-xs);
}
