.card {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
  max-width: 380px;
  flex-direction: column;
  border-radius: var(--radius-sm);
  background-color: var(--bg-primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.premium {
  overflow: hidden;
  position: relative;
}

.ribbon {
  top: 35px;
  z-index: 10;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  background: #cf9843;
  left: -50px;
  transform: rotate(-45deg);
  width: 200px;
  color: var(--text-black-color);
}
.imageContainer {
  width: 100%;
  aspect-ratio: 2/1;
  position: relative;
  object-fit: contain;
}
.businessImage {
  width: 100%;
  height: 100%;
  max-height: 190px;
  object-fit: cover;
}
.businessTag {
  width: 50px;
  right: 20px;
  bottom: -40px;
  position: absolute;
}

.badge {
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
}

.cardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: calc(1.2 * var(--gap-xxl));
  padding: calc(1.2 * var(--margin-xxl));
}

.header {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-between;
}

.businessName {
  width: 90%;
  font-size: 1.2rem;
  font-weight: bold;
}

.location {
  /* border: 2px solid red; */
  height: 25px;
  font-size: 0.9rem;
  color: var(--text-light-color);
}

.ratingContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating {
  display: flex;
  align-items: center;
  align-items: space-between;
}

.starIcon {
  font-size: 1rem;
  color: #ff9800;
}
.iconContainer {
  display: flex;
  gap: var(--gap-xs);
}
.icon {
  height: 16px;
}
.iconText {
  line-height: 1;
}
.askPriceButton {
  line-height: 1;
  text-decoration: underline;
  font-size: var(--font-size-xs);
}

.ratingValue {
  line-height: 1;
  font-size: 1rem;
  margin-left: 5px;
  color: #333;
}

.details {
  font-size: 0.9rem;
  color: #666;
}

.companyName,
.membership,
.timeAgo {
  display: block;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-md);
}

.ctaButton {
  padding: var(--padding-lg) 15px;
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  flex: 1;
}

.contactBtn {
  background-color: #007bff;
  color: white;
}

.viewBtn {
  background-color: #28a745;
  color: white;
}

.contactBtn:hover,
.viewBtn:hover {
  opacity: 0.8;
}
