.mainContainer {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.title {
  font-weight: 500;
  color: var(--text-theme-color);
}
.form {
  display: grid;
  gap: var(--gap-lg);
}
.inputSection {
  display: grid;
  gap: var(--gap-xs);
}
.inputTitle {
  line-height: 1;
  font-weight: 500;
  color: var(--text-theme-color);
}
.inputContainer {
  display: flex;
  gap: var(--gap-xs);
}
.textarea {
  height: 100px;
  padding: var(--padding-lg);
  border: 1px solid var(--border-light-color);
}
