.wrapper {
  width: 100%;
  max-width: 100%;
  height: 90vh;
  overflow: auto;
  border-radius: 8px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
  /* border: 2px solid red; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); */
}

.table thead {
  top: 0;
  z-index: 10;
  position: sticky;
  color: var(--text-white-color);
  background-color: var(--bg-theme-color);
}
.table thead {
  border-radius: var(--radius-xs);
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-bottom: 1px solid var(--border-light-color);
}
.table thead {
  overflow: auto;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
table td {
  background-color: #fbfbfb;
}

.badge {
  font-size: 12px;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 6px;
  display: inline-block;
  color: var(--text-white-color);
}

/* TAGS */

.default {
  background-color: var(--color-default);
}
.query {
  background-color: var(--color-query);
}
.aifiltered {
  background-color: var(--color-aifiltered);
}
.manualfiltered {
  background-color: var(--color-manualfiltered);
}

/* STATUS */
.prospect {
  background-color: var(--color-prospect);
}
.followup {
  background-color: var(--color-followup);
}
.hotprospect {
  background-color: var(--color-hotprospect);
}
.crack {
  background-color: var(--color-crack);
}
.deny {
  background-color: var(--color-deny);
}

/* PRIORITY */
.low {
  background-color: var(--color-low);
}
.medium {
  background-color: var(--color-medium);
}
.high {
  background-color: var(--color-high);
}
