.card {
  padding: var(--padding-xxl);
  border-radius: var(--radius-lg);
  background: var(--bg-primary-color);
}

.title {
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--text-theme-color);
  font-size: calc(2 * var(--font-size-base));
}

.form {
  display: flex;
  gap: var(--gap-xl);
  flex-direction: column;
}
.uploadContainer {
  width: 230px;
  margin: auto;
  height: 115px;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5px 0px;
  margin-bottom: var(--margin-lg);
  border: 1px solid var(--border-light-color);
}
.uploadImage {
  height: 90%;
  padding: 10px;
  object-fit: cover;
}

.uploadText {
  font-size: var(--font-size-xxs);
  line-height: 1;
}
.inputsContainer {
  display: flex;
  gap: var(--gap-lg);
}

.button {
  border-radius: var(--radius-xs);
}

.buttonContainer {
  display: flex;
  gap: var(--gap-lg);
  margin-top: var(--margin-xxs);
  justify-content: center;
}
.navButton {
  text-decoration: underline;
  color: var(--text-light-color);
}
.coverImageContainer {
  height: 150px;
  aspect-ratio: 2/1;
}
.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
