.otpContainer {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 10px 0;
}

.otpInput {
  width: 60px;
  height: 50px;
  outline: none;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  /* transition: border-color 0.3s; */
  border: 1px solid var(--border-light-color);
}

.otpInput:focus {
  border-color: var(--text-black-color);
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}
