.navItem {
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
  font-size: var(--font-size-h6);
  padding: var(--padding-xs) var(--padding-xl);
  color: var(--text-black-color);
  border: 2px solid var(--text-black-color);
  background-color: var(--bg-primary-color);
  min-width: fit-content;
}
.radius {
  border-radius: var(--radius-lg);
  padding: var(--padding-xs) var(--padding-xxl);
}
.navItem:hover,
.active {
  color: var(--text-white-color);
  background-color: var(--bg-black-color);
}
