.searchContainer {
  margin: auto;
  display: flex;
  padding: 0 var(--padding-lg);
  margin: calc(var(--margin-xxl) * 3) auto;
  border-radius: var(--radius-xl);
  background-color: var(--bg-section-color);
  border: 2px solid var(--border-light-color);
  max-width: calc(var(--max-width-container) / 2);
}
.searchInput {
  border: none;
  height: 50px;
  outline: none;
  /* padding: var(--padding-xs) var(--padding-xl); */
}
.searchIcon {
  font-size: var(--font-size-h3);
}
