.signupWrapper {
  display: flex;
  height: 100vh;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-primary-section);
  color: var(--color-text-dark);
  overflow: hidden;
}

.closeIcon {
  width: 25px;
  height: 25px;
  font-weight: 900;
  aspect-ratio: 1/1;
  top: 25px;
  z-index: 1;
  right: 25px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  padding: var(--padding-xxs);
  /* border: 1px solid var(--border-light-color); */
}

.signupContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imageContainer {
  height: 100%;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.signupRight {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.signupHeading {
  position: absolute;
  top: 5vh;
  left: 1vw;
  color: var(--text-theme-color);
}
.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.registerForm {
  width: 90%;
  margin: 0px auto;
}
.leftTitle {
  font-size: var(--font-size-h2);
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--text-black-color);
}

.leftText {
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: var(--font-size-small);
}

.featuresList {
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.featuresList li {
  font-size: 14px;
  margin-bottom: 8px;
}

.container {
  /* max-width: 400px; */
  margin: 0px auto;
  padding: 30px;
  border-radius: 10px;
  background: var(--color-bg-primary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.logo {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: var(--text-theme-color);
  font-size: var(--font-size-h1);
}

.title {
  line-height: 1.5;
  text-align: center;
  font-size: var(--font-size-h2);
  color: var(--text-black-color);
}
.ctaText {
  text-align: center;
}

.input:focus {
  border-color: var(--bg-theme-color);
  outline: none;
}

.createButton {
  width: 100%;
  text-align: center;
}

.orText {
  margin: 10px 0;
}

.termsText {
  text-align: center;
  font-size: var(--font-size-xs);
  margin-bottom: 10px;
}

.link {
  color: var(--bg-theme-color);
  cursor: pointer;
  text-decoration: underline;
}

.loginText {
  font-size: 14px;
  text-align: center;
}

.cooldownText {
  font-size: var(--font-size-h6);
  text-align: center;
}

.resendButton {
  margin: auto;
  display: block;
  text-decoration: underline;
}

.wrongNoButton {
  color: var(--link-text-color);
  font-size: var(--font-size-xs);
  text-decoration: underline;
}

.backbtnContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: var(--margin-xxl) 0;
}
.backArrow {
  cursor: pointer;
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: var(--padding-xxs);
  border: 1px solid var(--border-light-color);
}

@media (max-width: 768px) {
  .signupContainer {
    grid-template-columns: 1fr;
  }
  .signupLeft {
    display: none;
  }
  .formContainer {
    margin: auto;
  }
}
