.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  text-align: center;
  margin: 0 auto;
  width: 250px;
}

.icon {
  width: 80px;
  height: 80px;
  margin-bottom: var(--margin-md);
}

.title {
  font-size: var(--font-size-h4);
  font-weight: 600;
  color: #000;
  margin-bottom: var(--margin-sm);
}

.subtitle {
  font-size: var(--font-size-base);
  font-weight: 500;
  color: #222;
  margin-bottom: var(--margin-xs);
}

.message {
  font-size: var(--font-size-sm);
  color: #555;
}
