.linksContainer {
  padding: var(--padding-lg) var(--padding-xl);
}
.linksContainer h1,
.linksContainer h2,
.linksContainer h3,
.linksContainer h4,
.linksContainer h5,
.linksContainer h6 {
  color: var(--text-theme-color) !important;
  line-height: 1.2 !important;
}

.linksContainer strong {
  color: var(--text-theme-color) !important;
}
