.card {
  padding: var(--padding-xxl);
  border-radius: var(--radius-lg);
  background: var(--bg-primary-color);
  /* border: 1px solid #e5e5e5; */
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 1); */
}

.title {
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--text-theme-color);
  font-size: calc(2 * var(--font-size-base));
}
