.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}
.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.title {
  font-weight: 600;
  color: var(--text-theme-color);
  font-size: var(--font-size-h3);
  margin-bottom: var(--margin-xl);
}
.uploadIconContainer {
  display: flex;
  gap: var(--gap-lg);
}
.form {
  display: grid;
  gap: var(--gap-lg);
}
.uploadBox {
  cursor: pointer;
  height: 200px;
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--radius-xl);
  border: 1px solid var(--border-light-color);
}
.uploadIcon {
  width: 50px;
  height: 50px;
}
.uploadText {
  color: var(--text-light-color);
}
.profileImageContainer {
  cursor: pointer;
  height: 200px;
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--border-light-color);
}
.profileImage {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
