.offerHero {
  display: grid;
  margin: 50px auto;
  gap: var(--gap-md);
  grid-template-columns: 1fr 2fr;
  max-width: var(--max-width-container);
}
.offerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-xs);
}
.offerImageLeft {
  aspect-ratio: 1/1;
}
.offerImageRight {
  aspect-ratio: 2/1;
}
