.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  width: 100%;
  max-width: 600px;
  padding: var(--padding-xxl);
  background: var(--bg-primary-color);
  border-radius: var(--radius-md);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
  /* border: 2px solid red; */
}

.title {
  font-weight: 600;
  font-size: var(--font-size-h3);
  color: var(--text-theme-color);
  margin-bottom: var(--margin-lg);
}

.questionBlock {
  margin-bottom: var(--margin-lg);
}

.question {
  font-size: var(--font-size-h4);
  margin-bottom: var(--margin-xs);
  color: var(--text-dark-color);
}

.stars {
  display: flex;
  gap: var(--gap-xs);
}

.star {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.2s ease;
  color: var(--text-light-color);
}

.star:hover {
  color: #b1b107;
}

.filled {
  color: #b1b107;
}
