.card {
  gap: 12px;
  padding: 12px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  border: 2px solid green;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.iconWrapper {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

.content {
  display: grid;
  grid-template-rows: 30px 30px 30px;
  border: 2px solid red;
}

.title {
  border: 2px solid red;
}

.primaryValue {
  border: 2px solid red;
}

.secondary {
  display: flex;
  gap: var(--gap-xs);
  border: 2px solid red;
}

.secondaryItem {
  font-size: 14px;
  font-weight: 500;
}
