.contactContainer {
  display: grid;
  align-items: center;
  gap: 0 var(--gap-xxl);
  grid-template-columns: 1fr 1fr;
  padding: var(--padding-lg) 0;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.heading {
  font-size: var(--font-size-h1);
  font-weight: 700;
  color: var(--text-theme-color);
  margin: 0;
}

.text {
  font-size: var(--font-size-h3);
  font-weight: 400;
  margin: 0;
  line-height: 1.4;
}

.empty {
  height: 300px;
}
