.heroImage {
  aspect-ratio: 3.5 / 1;
}

/* .heroContainer {
  width: 100%;
  aspect-ratio: 3/1;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-theme-color);
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  border-radius: 10px;
  color: white;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}

.leftContent {
  max-width: 50%;
  z-index: 2;
}

.line1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1rem;
}

.line2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.line3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f8c12c;
  margin-bottom: 1.5rem;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: #f5f5f5;
  color: #113712;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #e3e3e3;
}

.rightContent {
  position: relative;
  max-width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.personImage {
  max-height: 280px;
  object-fit: contain;
  z-index: 2;
}

.badgeImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  z-index: 3;
} */
