.button {
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  color: var(--text-white-color);
  font-size: var(--font-size-base);
  background-color: var(--bg-theme-color);
}

.button.delete {
  background-color: var(--delete-color);
}

.button.edit {
  background-color: var(--edit-color);
}

.button.default {
  background-color: var(--bg-theme-color);
}

.button.theme {
  background-color: var(--bg-theme-dark);
  color: var(--text-white-color);
}

.button.contact {
  background-color: #007bff;
  color: var(--text-white-color);
}
.button.view {
  background-color: #28a745;
  color: var(--text-white-color);
}

.button.gradient {
  background: linear-gradient(90deg, #4caf50, #1b5e20);
  color: var(--text-white-color);
}

.button:hover {
  opacity: 0.8;
}

.movingBackground {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #ff00cc, #3333ff, #00ccff);
  background-size: 600% 600%;
  font-weight: 600;
  animation: gradientShift 6s ease infinite;
  border-radius: calc(var(--padding-xxl) + 5px);
}

.movingBorderButtonBase {
  position: relative;
  color: var(--color-text-white);
  border-radius: var(--radius-xl);
  background-color: var(--color-bg-black);
  padding: 4px 0;
  margin: 5px;
  width: 200px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.radiusLg {
  border-radius: var(--radius-xs);
}
.radius {
  border-radius: var(--radius-xxl);
}
.ctaLink {
  width: fit-content;
}
