.videoContainer {
  position: relative;
  margin: 0;
  padding: 0;
  margin: auto;
  /* border-radius: var(--standard-border-radius2); */
}

.video {
  width: 100%;
}

.radiusVideoContainer {
  border-radius: var(--standard-border-radius2);
}

.radiusVideo {
  border-radius: var(--standard-border-radius2);
}

.playIcon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  color: var(--text-white-color);
  transform: translate(-50%, -50%);
  z-index: 3;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Or use 1 for solid black */
  z-index: 2;
  pointer-events: none;
  /* border-radius: var(--standard-border-radius); */
}

/* === Reels (9:16) === */
.reelVideoContainer {
  width: fit-content;
  position: relative;
  overflow: hidden;
  aspect-ratio: 9 / 16;
  max-height: 500px;
}

.reelVideo {
  height: 100%;
  width: fit-content;
  object-fit: cover;
}

/* === Full Videos (2:1) === */
.fullVideoContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
  overflow: hidden;
  max-width: var(--max-width-container);
  /* border-radius: 12px; */
}

.fullVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* === Square Videos (1:1) === */
.squareVideoContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  max-width: var(--max-width-container);
  /* border-radius: 12px; */
}

.squareVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 576px) {
  .maxWidth {
    padding: 0px 5px;
  }
}

/* .maxWidth {
  margin: auto;
  max-width: 1200px;
  aspect-ratio: 2/1;
  border-radius: var(--standard-border-radius);
}

.fullWidth {
  width: 100%;
  aspect-ratio: 3/1;
  border-radius: 0px;
} */
