.container {
  display: block;
  text-align: center;
  padding: var(--padding-xl) 0;
  background-color: var(--bg-theme-color);
  background-color: var(--bg-section-color-dark);
}
.text {
  font-weight: 600;
  font-size: var(--font-size-h6);
  color: var(--text-black-color);
}
