.navIconContainer {
  display: flex;
  margin: auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50%;
}
.active {
  background-color: var(--bg-theme-color);
  border: 2px solid var(--border-theme-color);
  color: var(--text-white-color);
}
.navIcon {
  height: 30px;
  width: 30px;
}
.navLink {
  text-align: center;
  text-decoration: none;
  color: var(--text-dark-color);
  font-size: var(--font-size-sm);
}
.active .navLink {
  color: var(--text-white-color);
}
