@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  position: relative;
  display: flex;
  align-items: center;
}

.logos::before,
.logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logosSlide {
  display: flex;
  animation: slide 20s linear infinite;
  flex-shrink: 0;
}

.logosSlide img {
  height: 80px;
  margin: 0px 0px;
  flex-shrink: 0;
}
.logos:hover .logosSlide {
  animation-play-state: paused;
}
