.contactCardContainer {
  display: flex;
  gap: var(--gap-xxl);
}
.emailIcon,
.phoneIcon {
  width: 30px;
  height: 30px;
}
.contactCard {
  width: 50%;
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  flex-direction: column;
  justify-content: center;
  padding: calc(var(--padding-xxl)) 0;
  border: 1px solid var(--border-light-color);
}
