.container {
  padding: var(--padding-lg) var(--padding-xl);
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  line-height: 1.2;
  font-weight: 500 !important;
  color: var(--text-theme-color) !important;
}

.container strong {
  font-weight: 600 !important;
  color: var(--text-theme-color) !important;
}
