.card {
  width: 100%;
  display: grid;
  position: relative;
  border-radius: var(--radius-sm);
  grid-template-columns: 0.4fr 0.6fr;
  max-width: var(--max-width-container);
  background-color: var(--bg-primary-color);
  margin: calc(2 * var(--margin-xxl)) auto;
}

.businessImage {
  border-radius: var(--radius-sm);
  height: 100%;
  aspect-ratio: 2/1;
}
.businessTag {
  width: 50px;
  top: -10px;
  right: 20px;
  position: absolute;
}
.cardContent {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: calc(1.2 * var(--gap-xxl));
  padding-right: calc(3 * var(--padding-xxl));
  padding: calc(0.4 * var(--padding-xxl)) calc(1 * var(--padding-xxl));
}

.header {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-between;
}

.businessName {
  font-size: 1.2rem;
  font-weight: bold;
}

.location {
  font-size: 0.9rem;
  color: var(--text-light-color);
}

.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating {
  display: flex;
  align-items: center;
  align-items: space-between;
}

.starIcon {
  font-size: 1rem;
  color: #ff9800;
}
.iconContainer {
  display: flex;
  gap: var(--gap-xs);
}
.icon {
  height: 16px;
}
.iconText {
  line-height: 1;
}
.askPriceButton {
  line-height: 1;
  text-decoration: underline;
  font-size: var(--font-size-xs);
}

.ratingValue {
  line-height: 1;
  font-size: 1rem;
  margin-left: 5px;
  color: #333;
}

.details {
  font-size: 0.9rem;
  color: #666;
}

.companyName,
.membership,
.timeAgo {
  display: block;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-md);
}

.ctaButton {
  flex: 1;
  border: none;
  cursor: pointer;
  border-radius: var(--radius-xs);
  padding: var(--padding-lg) 15px;
}

.contactBtn {
  background-color: #007bff;
  color: var(--text-white-color);
}

.viewBtn {
  background-color: #28a745;
  color: var(--text-white-color);
}

.contactBtn:hover,
.viewBtn:hover {
  opacity: 0.8;
}
