.wrapper {
  height: 600px;
}
.searchContainer {
  width: 100%;
  padding: 8px;
  max-width: 400px;
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;
}

.resultsListContainer {
  left: 0;
  right: 0;
  top: 100%;
  padding: 0;
  z-index: 1000;
  margin-top: 4px;
  list-style: none;
  overflow-y: auto;
  max-height: 200px;
  border-radius: 6px;
  position: absolute;
}

.resultsListContainer li {
  cursor: pointer;
  padding: 8px 12px;
}

.resultsListContainer li:hover {
  background-color: #f0f0f0;
}
