.leadDashboardContainer {
  padding: 0px var(--padding-xxl);
  max-height: 100%;
}
.sectionHeader {
  display: flex;
  gap: var(--gap-lg);
  align-items: center;
  margin: 10px 0px;
}
.icon {
  aspect-ratio: 1/1;
  color: var(--text-light-color);
}
.sectionPara {
  font-weight: 600;
  font-size: var(--font-size-sm);
}
.filteresContainer {
  display: flex;
  margin: 10px 0px;
  gap: var(--gap-lg);
  width: fit-content;
  justify-content: flex-start;
}
.select {
  width: 150px;
}
