.paymentContainer {
  padding: var(--padding-lg) var(--padding-xl);
}
.paymentContainer h1,
.paymentContainer h2,
.paymentContainer h3,
.paymentContainer h4,
.paymentContainer h5,
.paymentContainer h6 {
  color: var(--text-theme-color) !important;
  line-height: 1.2 !important;
}

.paymentContainer strong {
  color: var(--text-theme-color) !important;
}
