.container {
  display: grid;
  gap: var(--gap-xxl);
  margin: var(--margin-xxl) auto;
  margin-bottom: calc(var(--margin-xxl) * 2);
}
.title {
  line-height: 1.3;
}
.blogImage {
  width: 100%;
  border-radius: var(--radius-xs);
  aspect-ratio: 2/1;
}
.metaIfno {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin: 0;
  font-weight: 600;
}

.date {
  margin: 0;
}

.readTime {
  font-weight: 500;
}
