.container {
  background: var(--bg-primary-color);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.filters {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  padding: 6px 12px;
  border: 1px solid var(--border-light-color);
  background: var(--bg-section-color);
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background 0.2s ease, color 0.2s ease;
}

.active {
  background: var(--bg-theme-color);
  color: var(--text-white-color);
  border-color: var(--border-theme-color);
}
