.card {
  margin: auto;
  display: flex;
  overflow: hidden;
  max-width: 400px;
  flex-direction: column;
  border-radius: var(--radius-xs);
  padding-bottom: var(--padding-lg);
  background: var(--bg-primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.banner {
  width: 100%;
  align-self: 2/1;
  object-fit: cover;
}

.content {
  display: grid;
  gap: var(--gap-xxl);
  padding: var(--padding-lg);
}

.authorRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.authorImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.authorName {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: var(--text-dark-color);
}

.publishDate {
  font-size: 12px;
  color: var(--text-dark-color);
}

.readTime {
  font-size: 12px;
  color: var(--text-dark-color);
}

.title {
  font-size: var(--font-size-lg);
  font-weight: bold;
  line-height: 1.3;
}

.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.button {
  width: 100%;
  border-radius: var(--radius-xs);
}
