.legalContainer {
  padding: var(--padding-lg) var(--padding-xl);
}
.legalContainer h1,
.legalContainer h2,
.legalContainer h3,
.legalContainer h4,
.legalContainer h5,
.legalContainer h6 {
  color: var(--text-theme-color) !important;
  line-height: 1.2 !important;
}

.legalContainer strong {
  color: var(--text-theme-color) !important;
}
