.container {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-themen-color);
  margin-bottom: 1rem;
}

.icon {
  width: 80px;
  height: 80px;
  margin: 1rem auto;
  display: block;
}

.subtitle {
  color: var(--text-light-color);
  font-size: 0.9rem;
  margin: 1rem 0 2rem;
}

.shareButton {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: var(--gap-md);
  border-radius: var(--radius-xs);
}

.shareButton:hover {
  transform: translateY(-2px);
}
