.footer {
  display: grid;
  gap: var(--gap-xl);
  background: var(--bg-primary-dark);

  color: var(--text-primary-color);
}

/* -------- Top Section -------- */
.top {
  display: flex;
  justify-content: center;
  gap: calc(3 * var(--gap-xxl));
  padding: calc(var(--padding-lg) * 2) 0;
  background: var(--bg-theme-dark);
  color: var(--text-white-color);
  width: 100%;
  border-radius: var(--radius-xs);
}

.column {
  list-style: disc;
  /* padding-left: 20px; */
}

.column li {
  font-size: 14px;
  margin-bottom: var(--margin-lg);
}

/* -------- Middle Section -------- */
.middle {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.leadsText {
  max-width: 400px;
  text-align: center;
}

.leadsText p {
  font-size: var(--font-size-body);
  line-height: 1.6;
}

.leadsText h3 {
  color: var(--text-theme-color);
  font-style: italic;
}

.feedbackBox {
  width: 280px;
  text-align: center;
}

.gif {
  height: 120px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background: var(--bg-section-color);
}
.gifImage {
  height: 100%;
  aspect-ratio: 2.5/1;
  border-radius: var(--radius-xs);
}
.feedbackBtn {
  width: 100%;
  border: none;
  display: block;
  cursor: pointer;
  padding: var(--padding-xs) 0;
  color: var(--text-white-color);
  border-radius: var(--radius-xs);
  background: var(--bg-theme-dark);
}

.feedbackBtn:hover {
  background: var(--bg-theme-color);
}

/* -------- Bottom Section -------- */
.bottom {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}
.bottomLeft,
.bottomRight {
  display: grid;
  gap: var(--gap-xxl);
}
.links {
  gap: 1.5rem;
  display: flex;
}

.links a {
  font-weight: 500;
  text-decoration: none;
  font-size: var(--font-size-body);
}

.socials {
  gap: 1rem;
  display: flex;
  justify-content: center;
}
.socilaMediaLink {
  border-radius: 50%;
  border: 1px solid var(--border-light-color);
}
.socialMediaIcon {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.socials span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.newsletter span {
  line-height: 1;
  font-weight: 500;
  text-align: center;
}
.inputContainer {
  display: flex;
  gap: var(--gap-xl);
  align-items: center;
}
.inputWrapper {
  display: flex;
  overflow: hidden;
  border-radius: var(--radius-xxl) 0 0 var(--radius-xxl);
}

.inputWrapper input {
  outline: none;
  border: 1px solid var(--border-light-color);
  border-radius: var(--radius-xxl) 0 0 var(--radius-xxl);
  padding: var(--padding-md) calc(2 * var(--padding-md));
}

.inputWrapper button {
  border: none;
  cursor: pointer;
  border-radius: 0 var(--radius-xxl) var(--radius-xxl) 0;
  color: var(--text-white-color);
  background: var(--bg-theme-dark);
  padding: var(--padding-md) calc(2 * var(--padding-md));
}

.or {
  font-size: 14px;
}

.whatsapp {
  width: 40px;
  height: 40px;
}

.bottomWrapper {
  background: var(--bg-theme-dark);
}

.bottomContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-sm);
  height: fit-content;
  padding: var(--padding-lg) 0;
  color: var(--text-white-color);
}

.footerLinks {
  display: flex;

  gap: 0 var(--gap-xxl);
  height: fit-content;
  justify-content: center;
}

.footerLink {
  line-height: 1.7;
  font-weight: 500;
  font-size: var(--font-size-sm);
  margin-bottom: 0;
}

.line {
  width: 100%;
  border-bottom: 1px solid var(--text-white-color);
}

.copyright {
  margin: 0 0;
  padding: 0 0;
  font-weight: 300;
  text-align: center;
  line-height: 1.7;
  margin-bottom: 0;
  font-size: var(--font-size-sm);
}
