.loginButton {
  text-align: center;
  width: 100px;
  display: inline-block;
  color: var(--text-white-color);
  padding: var(--padding-xxs) 0;
  border-radius: var(--radius-xs);
  background: linear-gradient(180deg, #1d8520, #1d8520, #28a745);
}
.usermenuContainer {
  min-width: 180px;
  max-width: 210px;
  position: relative;
  border-radius: var(--radius-xs);
  color: var(--text-primary-color);
  background-color: var(--bg-section-color);
  background-color: var(--bg-primary-color);
  padding: var(--padding-lg) calc(1 * var(--padding-xxl));
  padding-right: calc(1.5 * var(--padding-xxl));
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.shareIcon {
  top: 10px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}
.profileHeader {
  display: flex;
  gap: var(--gap-xs);
  justify-content: flex-start;
  padding-bottom: var(--padding-lg);
}

.avatar {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  min-width: fit-content;
  justify-content: center;
}
.userAvatar {
  width: 50px;
  height: 50px;
  padding: 2px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--border-light-color);
}

.userInfo {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.companyName {
  width: 100%;
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: var(--font-size-h5);
  padding-right: var(--padding-lg);
  /* elipsis after two lines  */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.changeCompanyName {
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
}

.linkIcon {
  text-decoration: none;
}

.menuItems {
  margin-top: var(--margin-lg);
}

.menuItem {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.linkText {
  font-size: var(--font-size-sm);
}
.iconContainer {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--margin-md);
  background-color: var(--bg-section-color);
}
.linkIcon {
  height: 15px;
}
.profileIcon {
  height: 15px;
  width: 15px;
}
.logout {
  padding-top: var(--padding-lg);
  display: flex;
  align-content: center;
  justify-content: center;
  border-top: 1px solid var(--border-light-color);
}
.logoutBtn {
  cursor: pointer;
  font-weight: 600;
  font-size: var(--font-size-sm);
  color: var(--text-red-color);
}
