.navIconContainer {
  width: 100%;
  display: flex;
  cursor: pointer;
  gap: var(--gap-xl);
  max-height: fit-content;
  align-items: center;
  padding: var(--padding-lg);
  justify-content: flex-start;
  border-radius: var(--radius-xs);
}
.active {
  color: var(--text-white-color);
  background-color: var(--bg-theme-color);
  border: 2px solid var(--border-theme-color);
}
.navIcon {
  height: 30px;
  width: 30px;
}
.navLink {
  text-align: center;
  text-decoration: none;
  color: var(--text-dark-color);
  font-size: var(--font-size-sm);
}
.active .navLink {
  color: var(--text-white-color);
}
