.container {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--border-theme-color);
  background-color: #f9f9f9;
}

.qnaSection {
}
.answerSection {
  padding-left: var(--padding-lg);
}
.question {
  font-weight: bold;
  color: var(--text-theme-color);
  font-size: var(--font-size-h5);
}

.answer {
  color: var(--text-light-color);
  font-size: var(--font-size-h6);
}
