.wrapper {
  width: 100%;
  height: 87vh;
  overflow: auto;
  max-width: 100%;
  border-radius: 8px;
}
.table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
}

.table thead {
  top: 0;
  z-index: 10;
  position: sticky;
  color: var(--text-white-color);
  background-color: var(--bg-theme-color);
}
.table thead {
  border-radius: var(--radius-xs);
}
.table th {
  border-right: 1px solid white;
}
.table th:last-child {
  border-right: none;
}
.table th,
.table td {
  padding: 12px;
  text-align: center;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-bottom: 1px solid var(--border-light-color);
}
.table thead {
  overflow: auto;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
table td {
  background-color: #fbfbfb;
}

.assignButton {
  border: none;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 6px;
  color: var(--text-black-color);
  transition: background-color 0.3s ease;
  background-color: rgb(207, 206, 206);
}
.assigned {
  background-color: green;
}
.pagination {
  gap: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  justify-content: center;
}

.pagination button {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;

  transition: all 0.2s ease;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.activePage {
  font-weight: bold;
  color: var(--text-white-color);
  background: var(--bg-theme-color);
  border-color: var(--bg-theme-color);
}
