.wrapper {
  position: relative;
  border-radius: calc(var(--radius-sm) + 1px);
  margin: calc(2 * var(--margin-xxl)) auto;
}
.container {
  display: flex;

  gap: var(--gap-xxl);
  overflow: auto hidden;
  scroll-behavior: smooth;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  border-radius: var(--radius-sm);
  background-color: var(--bg-section-color);
}
.chip {
  min-width: fit-content;
  padding: 0 var(--padding-xxl);
  color: var(--text-black-color);
  border-radius: var(--radius-lg);
  background-color: var(--bg-section-color-dark);
}
.active {
  color: var(--text-white-color);
  background-color: var(--bg-theme-color);
}

.icon {
  box-shadow: 0 0px 8px rgba(0, 0, 0, 1);
  box-shadow: 0 0px 8px rgba(25, 71, 45, 0.5);
}

.rightIcon,
.leftIcon {
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
  color: var(--text-white-color);
  background-color: var(--bg-theme-color);
}
.rightIcon {
  right: 0;
}
.leftIcon {
  left: 0;
}
