.container {
  display: grid;
  gap: var(--gap-xxl);
  padding: var(--padding-xl);
  grid-template-columns: 2.5fr 1fr;
  border-radius: var(--radius-md);
  background: var(--bg-primary-color);
}

.leftCard {
  background-color: var(--bg-section-color);
  border-radius: var(--radius-md);
  padding: var(--padding-xxl);
}

.title {
  font-size: var(--font-size-h3);
  font-weight: 600;
  color: var(--text-theme-color);
  margin-bottom: var(--margin-sm);
}

.subtitle {
  color: var(--text-light-color);
  margin-bottom: var(--margin-md);
  font-size: var(--font-size-base);
}

.features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features li {
  font-size: var(--font-size-body);
  margin-bottom: var(--margin-sm);
  color: var(--text-dark-color);
  position: relative;
  padding-left: 20px;
}

.features li::before {
  content: "○";
  position: absolute;
  left: 0;
  color: var(--text-theme-color);
  font-weight: bold;
}

.rightCard {
  border: 1px solid var(--border-light-color);
  background-color: var(--bg-section-color);
  border-radius: var(--radius-md);
  padding: var(--padding-xxl);
  text-align: center;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); */
}

.imageWrapper {
  margin-bottom: var(--margin-md);
}

.offerImage {
  width: 100%;
  border-radius: var(--radius-sm);
}

.trial {
  font-size: var(--font-size-sm);
  margin-bottom: var(--margin-xs);
  color: #444;
}

.price {
  font-size: var(--font-size-h4);
  font-weight: bold;
  margin-bottom: var(--margin-md);
}

.buyButton {
  width: 100%;
  display: block;
  border-radius: var(--radius-xs);
}

.downloadLink {
  display: inline-block;
  font-size: var(--font-size-sm);
  text-decoration: underline;
  color: var(--text-dark-color);
  cursor: pointer;
}
