.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(var(--margin-xxl) * 1) auto;
  gap: calc(2 * var(--gap-xl));
}

/* Features left side */
.features {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
}

.feature {
  display: flex;
  gap: var(--gap-lg);
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  padding: var(--padding-md);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--text-white-color);
  background: var(--bg-theme-color);
}

/* Form right side */
.formBox {
  width: 100%;
  display: flex;
  max-width: 380px;
  gap: var(--gap-xl);
  flex-direction: column;
  padding: var(--padding-xxl);
  border-radius: var(--radius-xs);
  background: var(--bg-primary-color);
}

.phoneInput {
  margin: 0px;
  padding: 0px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: var(--radius-xs);
  border: 1px solid var(--border-light-color);
}
.selectPrimitive {
  /* border: 2px solid var(--border-light-color); */
}
.code {
  padding: var(--padding-lg);
  font-size: var(--font-size-sm);
  color: var(--text-light-color);
  background: var(--bg-section-color);
  border-right: 1px solid var(--border-light-color);
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: var(--padding-lg);
  font-size: var(--font-size-sm);
}

.button {
  border: none;
  font-weight: 600;
  padding: var(--padding-xl);
  color: var(--text-white-color);
  font-size: var(--font-size-sm);
  border-radius: var(--radius-xs);
  background: var(--bg-theme-dark);
  cursor: pointer;
}

.button:hover {
  background: var(--bg-theme-color);
}
.description {
  text-align: center;
  margin: calc(2 * var(--margin-xxl)) auto;
  color: var(--text-light-color);
}
