.container {
  gap: 1rem;
  display: flex;
  justify-content: center;
  gap: calc(2 * var(--gap-xxl));
}
.contentContainer {
  display: grid;
  gap: calc(2 * var(--gap-xxl));
  grid-template-columns: minmax(350px, auto) 1fr;
}
.faqheight {
  overflow: auto;
  height: 700px;
  padding: var(--padding-lg) 0;
}
.sideBarLinkContainer {
  width: 100%;
  display: flex;

  gap: var(--gap-lg);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-lg);
  justify-content: flex-start;
  border-radius: var(--radius-lg);
}
.faqContentContainer {
  display: grid;
  gap: var(--gap-lg);
}
